body{
    background-color:#E5E5E5;
}




/* Navigation Bar */

.top-header{

    height: 94px;
    width:100%;
    background-color: #562EFF ;
    
}


nav ul{
   
    display: flex;
    justify-content: ;
}


nav ul li{
    
     list-style: none;
     padding-right: 18px;
}

li a{
    font-size: 18px;
    color: cornsilk;
    text-decoration: none;

}